<div class="reset-password-wrapper">
  <h2>Réinitialisation Mot de passe</h2>
  <form (ngSubmit)="resetPassword()" *ngIf="!message">
    <div *ngIf="error" class="error">{{ error }}</div>
    <div class="form-row">
      <label>Nouveau Mot de passe</label>
      <input type="password" [(ngModel)]="newPassword" name="newPassword" required />
    </div>
    <div class="form-row">
      <label>Confirmation Mot de passe</label>
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
    </div>
    <button type="submit" [disabled]="loading">Réinitialiser votre Mot de passe</button>
  </form>
  <div *ngIf="message" class="success">{{ message }}</div>
</div>